# Fichiers à ignorer pour le projet Enron Discovery
maildir/
*.tar.gz
__pycache__/
*.pyc

*.db
media/

.env
venv/
.venv/
env/

.vscode/
.DS_Store
data/emails.csv

# fichiers LaTeX temporaires
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.pdf
*.ipynb_checkpoints