maildir/
*.tar.gz
__pycache__/
*.pyc

*.db
media/

.env
venv/

.vscode/
.DS_Storedata/emails.csv
data/emails.csv
.venv/
env/

# ajouter tout les fichiers provenant de .tex(ex: .aux, .log, .out, .toc)
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.pdf  